<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Available files</title>   
    </head>
    <body>
	{% for f in fileList %}
		<li>
			{{ f.filename }}	-	{{ f.length }}	-	<a href="delete/{{f.id}}">delete</a>	<a href="download/{{f.id}}">download</a> <a href="details/{{f.id}}">details</a> 
    		</li>
	{% endfor %}
        <form action="upload" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p><input type="submit" value="Upload" /> <input type="file" name="file" /></p>
        </form>
    </body>
</html>
